<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" th:href="@{/img/icon.png}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>猿圈-个人主页</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header th:replace="index::header">

		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<!-- 选项 -->
				<div class="position-relative">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" th:href="@{|/user/profile/${user.id}|}">个人信息</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{|/user/profile/post/${user.id}|}"><span th:text="${loginUser==null?'他':(loginUser.id!=user.id?'他':'我')}">我</span>的帖子</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" th:href="@{|/user/profile/reply/${user.id}|}"><span th:text="${loginUser==null?'他':(loginUser.id!=user.id?'他':'我')}">我</span>的回复</a>
						</li>
					</ul>
				</div>
				<!-- 我的回复 -->
				<div class="mt-4">
					<h6><b class="square"></b> 回复的帖子(<span th:text="${commentCount}">379</span>)</h6>
					<ul class="list-unstyled mt-4 pl-3 pr-3">
						<li class="border-bottom pb-3 mt-4" th:each="map:${comments}">
							<div class="font-size-16 text-info">
								<a th:href="@{|/discuss/detail/${map.post.id}|}" class="text-info" th:utext="${map.post.title}">帖子标题</a>
							</div>
							<div class="mt-1 font-size-14" th:utext="${map.comment.content}">
								回复内容
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b th:text="${#dates.format(map.comment.createTime, 'yyyy-MM-dd HH:mm:ss')}">时间</b>
							</div>
						</li>
					</ul>
					<!-- 分页 -->
					<nav class="mt-5" th:replace="index::pagination">
						<ul class="pagination justify-content-center">
							<li class="page-item"><a class="page-link" href="#">首页</a></li>
							<li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
							<li class="page-item active"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item"><a class="page-link" href="#">下一页</a></li>
							<li class="page-item"><a class="page-link" href="#">末页</a></li>
						</ul>
					</nav>					
				</div>				
			</div>
		</div>


	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
</body>
</html>
